.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
}

.logo-link {
    display: block;
}

.site-logo {
    width: 150px;
    height: auto;
}

.menu-button {
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.menu-button span {
    display: block;
    width: 28px;
    height: 2px;
    background: #FFFFED;
    border-radius: 2px;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

h1,
h2 {
    font-family: "Lobster Two", cursive;
}
